<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<title></title>
	<link href="css/reset.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="css/icon.css" rel="stylesheet" type="text/css">
	<link href="css/button.css" rel="stylesheet" type="text/css">
	<link href="css/util.css" rel="stylesheet" type="text/css">
	<link href="css/header.css" rel="stylesheet" type="text/css">
	<link href="css/footer.css" rel="stylesheet" type="text/css">
	<link href="css/component.css" rel="stylesheet" type="text/css">
	<link href="css/sign-in.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- ----------------------헤더---------------------------- -->
	<header class="header-container">
		<h1 class="d-none">알랜드</h1>
		<div>
			<a href="/index.html" title="index페이지로 이동합니다.">
				<img src="/image/logo.svg">
			</a>
			<a class="icon icon-menu">메뉴</a>
		</div>
		<nav class="nav-wrap">
			<h1 class="d-none">네비게이션 목록</h1>
			<ul>
				<li>
					<a href="/index.html" class="icon icon-home" title="index페이지로 이동합니다.">홈</a>
					<a href="/admin/index.html" class="icon icon-dashboard" title="관리자 대시보드로 이동합니다.">관리자 대시보드</a>
				</li>
				<li>
					<a href="/sign-in.html" class="icon icon-person" title="로그인 페이지로 이동합니다.">로그인</a>
					<a href="/logout" class="icon icon-sign-out" title="로그인 페이지로 이동합니다.">로그아웃</a>

				</li>
			</ul>
		</nav>
	</header>

	<main>
		<div class="sign-in">
			<div class="sign-in-logo">
				<img src="image/logo-black.svg" alt="Rland" />
			</div>
			<form action="sign-in" class="sign-in-form" method="post">
				<div class="sign-in-form-input">
					<div>
						<input type="text" name="username" class="input-bottom-line" placeholder="아이디" required />
					</div>
					<div>
						<input type="password" name="password" class="input-bottom-line" placeholder="비밀번호" required />
					</div>
				</div>
				<div class="mt-3 d-flex align-items-center color-warning">
					아이디 또는 비밀번호가 일치하지 않습니다.
				</div>
				<div class="sign-in-form-button">
					<div class="wd-100">
						<input type="submit" value="로그인" class="btn btn-default" />
					</div>
					<div class="font-14">또는</div>
					<div class="wd-100">
						<a href="" class="deco icon-logo-google btn btn-outline">구글로 로그인</a>
					</div>
				</div>
			</form>
			<div class="sign-in-find-user font-14">
				<a href="./sign-up.html">회원가입</a> |
				<a href="">비밀번호 찾기</a>
			</div>
		</div>
	</main>

	<footer class="footer-container">
		<a href="">홈페이지 이용약관</a>
		<span>사업자 등록번호: 123-45-67</span>
		<span>Ⓒ 2023 Rland Newlecture All Rights Reserved</span>
	</footer>

</body>

</html>