

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 135px;
    padding: 40px 0;
    background-color: black;
    color: white;
    font-size: 14px;
  }

  .footer-container > a {
    border: 2px solid white;
    box-sizing: border-box;
    padding: 8px 10px;
    border-radius: 5px;
  }

