<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/util.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/icon.css" />
    <link rel="stylesheet" href="/css/button.css" />
    <link rel="stylesheet" href="/css/component.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/aside.css" />  
    
  </head>
  <body>
    <!-- ----------------------헤더---------------------------- -->
    <!--header 부분-->
    <div th:replace="~{inc/header}"></div>
    <!--aside 부분-->
    <div th:replace="~{inc/aside}"></div>
	<!--main 부분-->
	<div layout:fragment="content"></div>
    <!--footer 부분-->
    <div th:replace="~{inc/footer}"></div>
  </body>
</html>
