<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newlecture.web.cohort8th.repository.MenuImgRepository"><!--어떤 인터페이스의 메서드인지-->
    <select id="findAllByMenuId" resultType="MenuImage"><!--반환타입은 qualifed name. yml에서 설정하면 안 써도 됨-->
        SELECT *
        FROM MENU_IMAGE
        WHERE MENU_ID = #{id}
    </select>

<!--    <insert id="saveAll" parameterType="java.util.List">-->
<!--        INSERT ALL-->
<!--        <foreach item="img" collection="images">-->
<!--            INTO MENU_IMAGE (SRC, MENU_ID, IS_DEFAULT)-->
<!--            VALUES (#{img.src}, #{img.menuId}, #{img.isDefault})-->
<!--        </foreach>-->
<!--        SELECT * FROM DUAL-->
<!--    </insert>-->
<!--parameterType="MenuImage" 여도 되는 이유?-->
    <insert id="saveAll" parameterType="java.util.List">
        <foreach collection="images" item="image" open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO MENU_IMAGE (SRC, MENU_ID, IS_DEFAULT)
            VALUES (#{image.src}, #{image.menuId}, #{image.isDefault})
        </foreach>
    </insert>

</mapper>


