form .n-text{}
form .n-radio{}

.n-form {

    >div {
        width: 300px;
    }

    input {
        border: 1px solid var(--color-base-3);
        padding: var(--gap-1);
        border-radius: var(--radius-1);
    }

    input[type=text]:invalid {
        /* background-color: red; */
    }

    label {
        display: inline-flex;        
        /* width: 400px; */
        align-items: center;
        gap: 5px;
    }

    label>span {
        width: 100%;
        /* flex-basis: 100px; */
        /* flex-shrink: 0; */
        /* flex-grow: 1; */
    }

    label>input {
        /* flex-grow: 1; */
    }

    label:has(>input:invalid:not(:placeholder-shown))::after {
        content: "";
        display: inline-flex;
        height: 24px;
        width: 24px;                
        mask: url(/image/icon/invalid.svg) no-repeat center;
        background-color: red;
    }
    
    label:has(>input:valid:not(:placeholder-shown))::after {
        content: "";
        display: inline-flex;
        height: 24px;
        width: 24px;
        mask: url(/image/icon/valid.svg) no-repeat center;
        background-color: green;
    }

    input[type=text]:invalid:not(:placeholder-shown) {
        
    }

    input[type=text]:valid:not(:placeholder-shown) {
        
    }
    
    input[type=text]:focus-within {
        border: 2px solid pink;
    }
    .n-radio {

    }


}

/* === 라벨 위치 오버라이드 ================================*/
.n-form.field-label-position\:top, .fl-pos\:top {
    label {           
        flex-wrap: wrap;            
    }

    label>span {
        width: 100%;
    }
}
/* ====================================================== */