/* body * {
    box-sizing: border-box;
} */

/* 집중화 방식 : 옛날 */
/* .n-icon {
    display: inline-flex;
    height: 24px;
    width: 24px;
    
    background-repeat: no-repeat;
    background-size: contain;
} */

/* 집중화 방식 : 최신 */
/*:where(*/
/* .n-icon\:home,
.n-icon\:dashboard,
.n-icon\:sign-in,
.n-icon\:sign-out */

/*)*/
    .n-icon {
    --icon-width: 24px;
    --icon-color: var(--color-accent-1);
    --deco-gap: 0;
    display: inline-flex;
    height: var(--icon-width);
    width: var(--icon-width);
    /* width: auto; */
    overflow: hidden;
    /* text-indent: -999px; */
    align-items: center;
    gap: var(--deco-gap);

    /* flex-direction: column; */
}

/* :is(.n-icon\:home,
    .n-icon\:dashboard,
    .n-icon\:sign-in,
    .n-icon\:sign-out) */
    .n-icon::before {

    flex-shrink: 0;
    content: "";
    display: inline-flex;
    /* height: inherit; */
    height: var(--icon-width);
    width: var(--icon-width);
    overflow: hidden;
    text-indent: -999px;

    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* background-size: var(--icon-width); */
    background-color: var(--icon-color);

    mask-size: var(--icon-width);
    mask-repeat: no-repeat;

}


.n-icon\:home::before {
    /* background-image: url(/image/icon/home.svg);    */
    mask-image: url(/image/icon/home.svg);
}

.n-icon\:dashboard::before {
    /* background-image: url(/image/icon/dashboard_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg); */
    mask-image: url(/image/icon/dashboard_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg);
}

.n-icon\:sign-in::before {
    /* background-image: url(/image/icon/person_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg);    */
    mask-image: url(/image/icon/person_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg);
}

.n-icon\:sign-out::before {
    /* background-image: url(/image/icon/logout_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg);    */
    mask-image: url(/image/icon/logout_24dp_434343_FILL0_wght400_GRAD0_opsz24.svg);
}

/* === size ======================================= */
.n-icon-size\:1,
.n-icon-size\:small {
    --icon-width: 15px;
    /* --w:15px
    width: 15px;
    height: 15px;
    background-size: var(--w); */
}

.n-icon-size\:2,
.n-icon-size\:medium,
.n-icon-size,
.n-icon-size\:default {
    --icon-width: 24px;
}

.n-icon-size\:3,
.n-icon-size\:large {
    --icon-width: 32px;
}

/* == color ===================================== */
/* main 1/2/3
sub 1/2/3
accent 1/2/3
base 1/2/3/4/5/6/7/8/9/10 */

.n-icon-color\:main-1 {
    --icon-color: var(--color-main-3, #D86259);
}

.n-icon-color\:main-2 {
    --icon-color: var(--color-main-2, #905634)
}

.n-icon-color\:main-3 {
    --icon-color: var(--color-main-3, #5E2808);
}

.n-icon-color\:sub-1 {
    --icon-color: var(--color-sub-1, #F3E184);
}

.n-icon-color\:accent-1 {
    --icon-color: var(--color-accent-1, #334DCF)DCF;
}

/* ======================================== */
.n-deco {
    text-indent: initial;
    width: auto;
}

.n-deco-gap\:1 {
    --deco-gap: 4px;
}

.n-deco-gap\:2 {
    --deco-gap: 8px;
}

.n-deco-gap\:3 {
    --deco-gap: 12px;
}

.n-deco-pos\:left::before,
.n-deco-pos\:top::before {
    /* order: initial; */
    order: unset;
}

.n-deco-pos\:right::before,
.n-deco-pos\:bottom::before {
    order: 1;
}

.n-deco-pos\:top,
.n-deco-pos\:bottom {
    flex-direction: column;
    height: auto;
}

@media (width > 768px) {

    .md\:n-deco.n-icon\:home,
    .md\:n-deco.n-icon\:dashboard,
    .md\:n-deco.n-icon\:sign-in,
    .md\:n-deco.n-icon\:sign-out {
        text-indent: initial;
        width: auto;
    }

    .md\:n-deco-gap\:1 {
        --deco-gap: 4px;
    }

    .md\:n-deco-gap\:2 {
        --deco-gap: 8px;
    }

    .md\:n-deco-gap\:3 {
        --deco-gap: 12px;
    }

    .md\:n-deco-pos\:left::before,
    .md\:n-deco-pos\:top::before {
        /* order: initial; */
        order: unset;
    }

    .md\:n-deco-pos\:right::before,
    .md\:n-deco-pos\:bottom::before {
        order: 1;
    }

    .md\:n-deco-pos\:top,
    .md\:n-deco-pos\:bottom {
        flex-direction: column;
        height: auto;
    }
}

/* =============================================== */
.n-btn {
    border: 1px solid var(--color-main-3);
    border-radius: 10px;
    padding: 6px 10px;
    /* box-sizing: border-box; */

    display: inline-flex;
}

/* .n-btn:not(.n-deco):where(.n-icon\:home,
    .n-icon\:dashboard,
    .n-icon\:sign-in,
    .n-icon\:sign-out) {
    text-indent: -999px;
} */
.n-btn:not(.n-deco).n-icon {
    text-indent: -999px;
}

.n-btn:hover {
    background-color: black;
    color: white;
}

.n-btn:hover::before {
    background-color: var(--color-accent-1);
}

.n-btn-color\:main {
    background-color: var(--color-main-1, yellow);
    color: var(--color-main-3, blue);

    transition: transform 1s, background-color 1s;
}

.n-btn-color\:main:hover {
    background-color: var(--color-main-3, blue);
    color: var(--color-main-1, yellow);

    box-shadow: 2px 2px 2px;
    transform: translateX(-2px) translateY(-2px);
}


/* === :where활용 ========================================= */

/* :where(.n-btn, .n-deco
    ):where(.n-icon\:home,
    .n-icon\:dashboard,
    .n-icon\:sign-in,
    .n-icon\:sign-out
    ) {

    } */

/* .n-btn:not(.n-deco).n-icon\:home,
.n-btn:not(.n-deco).n-icon\:dashboard,
.n-btn:not(.n-deco).n-icon\:sign-in,
.n-btn:not(.n-deco).n-icon\:sign-out {
    text-indent: -999px;
} */




/* ====우선순위 :is :where============================================= */

/* 
    where는 항상 제일 밑에 깔림
    is는 동급
*/


/* #a {
    border: 5px solid red;
}

:is(.a) {
    border: 5px solid green;
}

.a {
    border: 5px solid orange;
}

a {
    border: 5px solid yellow;
}

:where(#a) {
    border: 5px solid blue;
} */

/* quiz */
div>h1,
div>h2,
div>h3,
div>h4,
div>h5 {}

div>:where(h1, h2, h3, h4, h5) {}

/* --------------------- */
div>h1,
div>h2,
div>h3,
div>h4,
div>h5,
section>h1,
section>h2,
section>h3,
section>h4,
section>h5 {}

:where(div, section)>:where(h1, h2, h3, h4, h5) {}

/* ============================= */
/* is의 특이성은 가장 높은 셀렉터의 특이성 */
:is(#a, .c) {
    color: red;
}

#a {
    color: blue;
}

.c {
    color: blue;
}


/* =================================== */

 input[type="text"]{  background-color: red; }
 input.first{  background-color: blue; }
 input:hover{  background-color: green; }