/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); */

:root{
    --color-main-1: #D86259;
    --color-main-2: #905634;
    --color-main-3: #5E2808;
    --color-sub-1: #F3E184;
    --color-accent-1: #334DCF;
    --color-base-1: #ffffff;
    --color-base-2: #e4e7ea;
    --color-base-3: #dee2e6;
    --color-base-4: #ced4da;
    --color-base-5: #adb5bd;
    --color-base-6: #868e96;
    --color-base-7: #495057;
    --color-base-8: #343a40;
    --color-base-9: #1a1c20;
    --color-base-10: #000000;
    
    --gap-0: 0;
    --gap-1: 4px;
    --gap-2: 8px;
    --gap-3: 12px;
    --gap-4: 20px;
    --gap-1em: 0.4em;    
    --gap-1p: 1%;
    
    --radius-0: 0;
    --radius-1: 6px;
    --radius-2: 10px;

    --width-1: 100px;
    --width-2: 200px;
    --width-3: 300px;
}

/* @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */

body {
    /* font-family: 'Pretendard', '고딕', '명조', Arial, Arial, Helvetica, sans-serif; */
    font-family: 'Pretendard';
    font-size: 15px;
}

.n-icon\:sign-in {
    --color-accent-1: red;
}