:root{
    --color-main-1: #D86259;
    --color-main-2: #905634;
    --color-main-3: #5E2808;
    --color-sub-1: #F3E184;
    --color-accent-1: #334DCF;    
}

.n-icon\:sign-in {
    --color-accent-1: red;
}