:root {
    --color-main-1: #092241;
    --color-main-2: #3A4E67;
    --color-main-3: #6B7A8D;

    --color-sub-1: #24A0ED;
    --color-sub-2: #e9f5fd;
    --color-sub-3: #e6f3ff;

    --color-red-1: #e92c2c;
    /* --color-red-2: #ff9205; */
    --color-red-3: #ffecec;

    --color-green-1: #00ba34;
    /* --color-green-2: #ff9205; */
    --color-green-3: #e6f9eb;

    --color-yellow-1: #FFBF00;

    --color-base-1: #fff;
    --color-base-8: #352F36; /* lava black */
    --color-base-9: #0C0C0C; /* oil black */
    --color-base-10: #000;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 14px;
    color: var(--color-base-7);

}

.top-bar .n-btn {
    --btn-padding: 4px 6px;
    --btn-font-size: 12px;
    --btn-border-radius: 10px
}