<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>        
        <h1>하늘산책</h1>        
    </header>
  
    <main>
        <div>
            <img src="main_img" alt="대표이미지">
        </div>

        <nav>
            <h1>주요서비스</h1>
            <ul>
                <li><a href=""><img src="../image/김새벽.jpg" alt="장례서비스업체">장례서비스업체 제공 소개글</a></li>
                <li><a href=""><img src="img02" alt="온라인추모관">온라인추모관 소개글</a></li>
                <li><a href=""><img src="img03" alt="추억다이어리">추억다이어리 소개글</a></li>
                <li><a href=""><img src="img04" alt="애도작품콘테스트">애도작품콘테스트 소개글</a></li>
            </ul>                
        </nav>        
    </main>

    <footer>
        푸터
    </footer>

    <nav>
        <h1>하단바</h1>
        <ul>
            <li>추억다이어리</li>
            <li>애도작품콘테스트</li>
            <li>홈</li>
            <li>햄버거네비</li>
        </ul>
    </nav>

</body>
</html>