<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout}"
>
<head>
    <title>Rland - 환영합니다.</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <main layout:fragment="main">

        <section class="greeting">
            <header>
                <h1>알랜드에 오신 것을 환영합니다.</h1>
                <h2>부안에 오면 꼭 들리는 카페</h2>
                <div><a href="/menu/list" class="n-btn n-btn-color:main">주문하기</a></div>
            </header>
            <div>
                <img src="/image/assets/main-top.png" alt="알랜드 환영이미지"/>
            </div>
            <footer>
                <h2>Rland Coffee</h2>
                <div>
                    <img src="/image/assets/logo-badge.svg" alt="알랜드 badge">
                </div>
            </footer>
        </section>

        <!-- ---------------------------------------------- -->

        <section>
            <h1>알랜드만의 특별함</h1>
            <div>
                <section>
                    <h1>직접 만든 과일청을 맛보세요.</h1>
                    <div>
                        신선한 과일과 알랜드만의 레시피로 과일향의 풍미를 충분히 느낄 수 있는 수제청을 드셔보세요.
                    </div>
                    <div>
                        <img src="/image/assets/main-fruit.png" alt="과일청">
                    </div>
                </section>
                <section>
                    <h1>우리가 구운 수제 쿠키를 만나보세요.</h1>
                    <div>
                        신선한 버터 그리고 견과류를 이용하여 바삭함을 더해 매일마다 직접 구운 맛난 쿠키를 만나보세요.
                    </div>
                    <div>
                        <img src="/image/assets/main-cookie.png" alt="수제 쿠키">
                    </div>
                </section>
                <section>
                    <h1>다양한 로스팅으로 다채로운 맛을 느껴보세요.</h1>
                    <div>
                        신선한 과일과 알랜드만의 레시피로 과일향의 풍미를 충분히 느낄 수 있는 수제청을 드셔보세요.
                    </div>
                    <div>
                        <img src="/image/assets/main-roasting.png" alt="로스팅">
                    </div>
                </section>
            </div>
        </section>













    </main>
</body>
</html>