body{
    background-color: var(--color-base-9);
    color:var(--color-base-1);
}

main{
    >.greeting{
        height: 700px;
        --gap:40px;
        border: 1px solid var(--color-base-1);
        padding: var(--gap);

        display: flex;
        gap: var(--gap);

        >*{
            border: 1px solid var(--color-base-1);
            overflow: hidden;
        }

        >header{
            width: 400px;
            flex-shrink: 0;


        }

        >div{
            width: 1000px;
            display: flex;
            align-items: center;
            >img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        >footer{

            width: 150px;
            flex-shrink: 0;
        }
    }
}