.btn {

}

.icon {
    background-image: url(/image/icon/home_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;

    border: 1px solid red;
    padding-left: 100px;
    width: 24px;

    display: inline-block;
}