<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- header 영역 -->
    <div th:replace="~{inc/header::header}"></div>
    
    <!-- main 영역 -->
     <div layout:fragment="main"></div>
    
    <!-- footer 영역 -->
    <div th:replace="~{inc/footer::footer}"></div>
    
</body>
</html>